@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 780px) {
    .hero {
        writing-mode: vertical-rl;
        left: 1.3em;
        top: 6rem;
    }
    
}

.pinStripe{
    background-image: repeating-linear-gradient(
        to right, transparent 0 49px, rgba(237, 237, 237, 0.02) 49px 50px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 49px, rgba(237, 237, 237, 0.01) 49px 50px
        );
}

@layer base {
    :root {
        --text: #080c09;
    --background: #f9fbfa;
    --primary: #336b45;
    --secondary: #9dbda8;
    --accent: #7eb991;
    }
    .dark {
        --text: #faf3e0;
        --background: #1a1604;
        --primary: #fdce69;
        --secondary: #1f8c17;
        --accent: #2cdd64;
    }
}