@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 780px) {
    .hero {
        writing-mode: vertical-rl;
        left: 10rem;
        top: 6rem;
    }
    
}


@layer base {
    :root {
        --text: #1f1805;
        --background: #fbf7e5;
        --primary: #976802;
        --secondary: #7ae873;
        --accent: #22d35a;
    }
    .dark {
        --text: #faf3e0;
        --background: #1a1604;
        --primary: #fdce69;
        --secondary: #1f8c17;
        --accent: #2cdd64;
    }
}