@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .hero {
        writing-mode: vertical-rl;
        left: 13rem;
        top: 6rem;
    }
    
}

.pinStripe{
    background-image: repeating-linear-gradient(
        to right, transparent 0 49px, rgba(237, 237, 237, 0.02) 49px 50px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 49px, rgba(237, 237, 237, 0.01) 49px 50px
        );
}

@layer base {
    :root {
        /* light purple settings */
    /* --text: #091015;
    --background: #eaf0f6;
    --primary: #294e60;
    --secondary: #a994d1;
    --accent: #774096; */

     /* dark green settings */
        --text: #faf3e0;
        --background: #1a1604;
        --primary: #fdce69;
        --secondary: #1f8c17;
        --accent: #2cdd64;

    /* light green settings */
    /* --text: #0f180b;
    --background: #f9fbf9;
    --primary: #3d622d;
    --secondary: #abdc7a;
    --accent: #5ac723; */
    }
    .dark {
        /* dark green settings */
        /* --text: #faf3e0;
        --background: #1a1604;
        --primary: #fdce69;
        --secondary: #1f8c17;
        --accent: #2cdd64; */

        /* dark purple settings */
        --text: #eaf1f6;
    --background: #090f15;
    --primary: #9fc3d6;
    --secondary: #432e6b;
    --accent: #9f69bf;
    }
}